@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-btn-color: hsl(0, 0%, 23%);
  --main-bg-color: hsl(0, 0%, 11%);
  --seconday-color: hsl(0, 0%, 13%);
  --secondary-light-color: hsl(0, 0%, 20%);
}

html {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  min-height: 100vh !important;
  height: 100%;
}

main {
  padding-top: 56px;
}

a {
  color: #fff;
  text-decoration: none;
}

.page-container {
  display: flex;
  background-color: var(--main-bg-color);
  padding: 0 40px;
}

.column {
  height: 100%;
  width: 100%;
  flex: 1 1 0;
}

.video {
  margin: 20px 20px 0;
}

.navbar {
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 56px;
  width: 100%;

  background-color: var(--seconday-color);
  color: #fff;
}

.title-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto 0 20px;
}

.yt-icon {
  position: relative;
  width: 28px;
  height: 24px;

  border-radius: 7px;
  background-color: red;
}

.yt-icon div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 5px;

  background-color: #fff;
}

.title-container h2 {
  margin-left: 5px;
}

.searchbar-container {
  display: flex;
  min-width: 325px;
  max-width: 600px;
  width: 100%;

  margin-right: auto;
  padding: 1px;
  background-color: var(--secondary-light-color);
}

.searchbar {
  width: 100%;

  color: #fff;
  padding: 5px 10px;
  min-height: 32px;

  border: #555;
  background-color: var(--main-bg-color);
  outline: none;
}

.profile-img-container {
  margin: 0 20px;
}

.profile-img-container img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.suggested-videos {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 350px;
  min-height: 130vh;
  max-width: 350px;
  padding: 20px 0;
}

.suggested-videos article {
  margin: 5px 0;
}

.video-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: auto;
  width: 100%;
}

.video-card .video-card-thumbnail {
  position: relative;

  display: flex;
  align-items: flex-end;
  width: 160px;
  height: 95px;
  min-width: 160px;
}

.video-card .video-card-thumbnail img {
  height: auto;
  width: 100%;
}

.video-card .video-card-thumbnail span {
  position: absolute;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.9);
}

.video-card .video-card-info {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin-left: 10px;
}

.video-card .video-card-info span {
  font-weight: 600;
}

.video-card .video-card-info small {
  font-size: 0.8em;
}

.btn {
  color: #fff;
  background-color: var(--main-btn-color);
  outline: none;
  border: none;
}

.video-player {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 85vh;

  background-color: black;
}

.video-player iframe {
  width: 100%;
  height: auto;
}

.video-information {
  display: flex;

  height: 100%;
  width: 100%;
  max-width: 1700px;

  color: white;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.icon {
  display: inline-block;
  width: 28px;
  height: 28px;

  margin-left: 10px;
}

.icon g {
  fill: #909090;
}

.like-bar {
  width: 100%;
  height: 10px;
}

.like-bar line {
  line-height: 100%;
}

.like-bar .like-amount {
  stroke: #909090;
}

.like-bar .dislike-amount {
  stroke: #5c5c5c;
}

.like-container {
  width: 200px;
  margin: 0 auto;
}

.video-information p {
  margin: 0 10px;
}

.wide {
  width: 100%;
}
